<div class='well pull-right'>
  <p>
    <a class='btn btn-primary btn-block' href='datapackage.json'><i class='fa fa-cloud-download'></i> Download Datapackage</a>
  </p>
  <p>
    {% assign github = site.data.datapackage.links | where:"name","GitHub repository" | first %}
    <a class='btn btn-default btn-block' href='{{github.url}}'><i class='fa fa-github'></i> View on GitHub</a>
  </p>
  <p>
    {% assign odc = site.data.datapackage.links | where:"name","Open Data Certificate" | first %}    
    <script src='{{odc.url}}/badge.js'></script>
  </p>
</div>
