---
layout: default
---

{% assign path = page.path | split:"." | first | split:"/" %}
{% assign resource_path = page.path | split:"." | first | append:".csv" %}

{% assign path0 = path[0] %}
{% assign path1 = path[1] %}
{% assign data_table = site.data[path0][path1] %}

{% for r in site.data.datapackage.resources %}
  {% if r.path == resource_path %}
    {% assign resource = r %}
  {% endif %}
{% endfor %}

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        {{ site.data.datapackage.title }}
      </a>
    </div>
  </div>
</nav>

<h1>{{ resource.name }}</h1>

{% if resource.schema == "expenditure" %}
  {% include expenditure.html %}
{% else if resource.schema == "donations" %}
  {% include donations.html %}
{% endif %}

{% assign csvlint = resource.links | where:"name","CSV Validation" | first %}
<div class='pull-right'>
  <a href='{{ csvlint.url }}'>
    <img src="{{ csvlint.url }}.svg" alt="{{ csvlint.name }}" />
  </a>
</div>

<a class='btn btn-primary' href='{{resource.url}}'><i class='fa fa-cloud-download'></i> Download CSV</a>
<a class='btn btn-default' href='http://githubeditor.herokuapp.com/{{site.github.repo}}/blob/{{site.github.branch}}/{{resource.path}}'><i class='fa fa-edit'></i> Edit</a>